nav {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
    display:inline-block;
    padding: 1.25rem;
}

